body{
margin:;	
background: rgb(199,237,250) url('images/background.jpg') no-repeat fixed center center;
position: absolute;
z-index:2;
width: 100%;
font:normal 0.9em Arial; margin:0; padding:0; padding-bottom:0px;
}
#myCarousel {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	
}
.container-fluid{
	margin-top: 38px;
	width: 100%;
	background-color:rgba(0,0,0,0.2)
	}
.container-fluid h2{ 
	margin:0px 0px;padding:0px;
	margin:  0px;
	background-color:black;
	color: white;
	opacity: 0.8;
	text-align:center;
	width: 100%;
}

.container-fluid h1{
	font-size:24pt;
	color: black;
	background-color:yellow;
	padding: 5px 0px;
	margin: 10px 0px;
	opacity: 0.8;
	text-align:center;
}


.container{
	
	
}

.container h3{
padding:0px;
font-size:12pt;
margin: 10px 5px 5px 10px;
}
.container small{
font-weight:bold;
color: black;
font-size:100%;

}
.content{
	background-color:white;
	padding-top: 10px;
	margin-bottom: 10px;
}

.content p{
text-align: justify;
margin-left: 30px;
margin-right: 10px;
color: black;
}


.footer{
background-size:contain;
background-color: rgb(187,227,33);
padding: 10px 0px;
margin-top: 20px;
text-align:center;

color: black;
}
.footer h6{
font-weight:bold;
font-size: 90%;
}

